body {
  margin: 5em;
  display: flex;
  align-content: center;
  justify-content: center;
  background-image: url("./pencil.png");
  background-size: 10% auto;
  background-color: #75cfb8;
}

.container {
  background-color: #bbdfc8;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.container img {
  opacity: 1;
}

.welcome {
  text-align: center;
  font-size: 3em;
  padding: 0 0.5em;
  font-family: verdana;
  font-weight: 500;
}

.contact {
  font-size: 2em;
  padding-left: 28%;
}

@media only screen and (max-width: 1224px) {
  body {
    margin: 3em;
  }

  .container {
    border-radius: 30px;
  }
}
